//=====COLORS==================

$color-lightGrey-1: #7C7070;
$color-lightGrey-2: #515150;
$color-darkGrey: #3B3B3A;
$color-black: #000;

$color-white-1: #F7F7F7;
$color-white-2: #EEE;

$color-lightBlue: #12E1F8;
$color-darkBlue: #00AEEF;

$color-red: #FF0045;
$color-pink: #FF0FC0;

$color-green: #0EF034;
$color-yellow: #D7FF0D;

//=====FONT SIZES====================

$default-fontSize: 1.8rem;

