@import "./base/typography";
@import "./abstracts/variables";
@import "./layout/header";
@import "./components/button";


//================================================

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    // Defines what 1rem equals
    font-size: 10px;
}

